body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom btn */
.kep-login-facebook .metro{
  display: flex;
  align-items: center;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId{
  font-size: 10px;
}


::-webkit-scrollbar {
  width: 8px;
}



::-webkit-scrollbar-thumb {
  background-color: #4a4d90;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #54627a;
}



.product-slider button.slick-next{
    right: 30px;
    z-index: 10;
}

.product-slider button.slick-prev{
    left: 30px;
    z-index: 10;
}

.product-slider button.slick-next::before {
    content : "\276F";
    background-color:rgb(131, 80, 214) ;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-slider button.slick-prev::before {
    content : "\276E";
    background-color: rgb(131, 80, 214);
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} 


 button.slick-next{
    right: 10px;
    z-index: 10;
}

 button.slick-prev{
    left: 10px;
    z-index: 10;
}

 button.slick-next::before {
    content : "\276F";
    background-color:rgb(131, 80, 214) ;
    width: 26px;
    height: 26px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 button.slick-prev::before {
    content : "\276E";
    background-color: rgb(131, 80, 214);
    width: 26px;
    height: 26px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
} 